@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font2;
  src: url(/font/font2.woff);
}
@font-face {
  font-family: font3;
  src: url(/font/font1.woff2);
}

::selection{
  background-color: white;
  color: black;
}

::-webkit-scrollbar{
  background-color: black;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 50px;
}
.scrollstyle::-webkit-scrollbar{
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.shadowover{
  background: linear-gradient(to bottom ,transparent , rgba(0, 0, 0, 0.174) ,rgba(0, 0, 0, 0.514) ,rgb(0, 0, 0) );
  z-index: 9;
}

.footerover{
  background: linear-gradient(to top ,transparent , rgba(0, 0, 0, 0.174) ,rgba(0, 0, 0, 0.514) ,rgb(0, 0, 0) );
  z-index: 9;
}
.card-mobile{
  background: linear-gradient(to bottom ,transparent 20%, rgba(0, 0, 0, 0.174) ,rgba(0, 0, 0, 0.514) ,rgb(0, 0, 0) );
}
.readbtn::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 100%;
  left: 0;
  border-radius: 50%;
  transition:  all ease 0.3s;
}
.readbtn:hover:after{
  top: 0;
  border-radius: 0;
}
.readbtn:hover h3{
  color:black ;
}